// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.img{

  height: 100px;
  width: 100px;
}
.img_small{
  width: 60px;
  height:60px;
}